<div id='qrcode'>
  <span>Scan with your device to register for push notifications</span>
  <br/>
  <%= image_tag(@qrcode.as_png.to_data_url) if @qrcode%>
  <br/>
  <%= link_to 'Users', users_path %>
</div>


<style>
  #qrcode {
    margin: 0 auto:
    width: 50%;
    padding: 200px;
  }
</style>