<h4>Scan with your device to register for push notifications</h4>
<div id='qrcode'>
  <%= image_tag(@qrcode.as_png.to_data_url) if @qrcode%>
</div>
<br/>
<br/>
<%= link_to 'Users', users_path %>

<style>
  #qrcode {
    margin: auto:
    width: 50%;
    padding: 50px;
  }

  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }

  td {
    border-left: solid 10px #000;
    padding: 0; 
    margin: 0; 
    width: 0px; 
    height: 10px; 
  }

  td.black { border-color: #000; }
  td.white { border-color: #fff; }
</style>